.dc-container{
    background: url(https://th.bing.com/th/id/OIP.bJJ-RKMvKRfRPnNYX4jFeAHaFK?rs=1&pid=ImgDetMain) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}