.login-container {
    background: url(https://th.bing.com/th/id/R.28faed980b5e7bd962bf7cd4a8de613d?rik=H9cACKuJEfOiiw&pid=ImgRaw&r=0) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.login-box:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffcc00;
}

.login-description {
    color: #ddd;
    font-size: 1rem;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #ffcc00;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #ffcc00;
}

.error-message {
    color: #ff0033;
    margin-bottom: 15px;
}

.login-footer {
    margin-top: 15px;
    font-size: 0.85rem;
}

.login-footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-footer a:hover {
    color: #ff4500;
}
